<!DOCTYPE html>
<html>
    <head>
        <title>詐騙資料庫</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
    	<a href="http://127.0.0.1:8000/display/">詐騙資料庫</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8000/simple_test/">簡易詐騙風險檢測</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8000/data_collection/">詐騙特徵蒐集</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8000/share/">特徵資料分享</a><br>
        <h1>&nbsp;<b>詐騙資料庫</b><font size="-1"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您可以藉由點選上標改變排序，另外在此頁面的最下方提供民眾填寫表單以協助我們完善資料庫。</font><font size="+1"></font></h1><br>
        <h2 align="center"><iframe width="1100" height="1000" scrolling="yes" frameborder="no" src="https://fusiontables.google.com/embedviz?viz=GVIZ&amp;t=TABLE&amp;q=select+col0%2C+col1%2C+col2%2C+col3%2C+col4+from+1ij30c7yyCIJgmgR6QkPE2Lg9M3AG5dMBG9tlGh7Y&amp;containerId=googft-gviz-canvas"></iframe></h2>

        <h2 align="center"><br>點擊下面連結，可以填寫google表單以協助完善展示給民眾看的詐騙資訊！！<br>
        <a href="https://goo.gl/forms/q0vSOdgubkoXHV4U2">回報網購詐騙資訊請點我！</a></h2><br><br><h2 align="left"><font size="-1">反詐騙相關網站：<br>&nbsp;&nbsp;&nbsp;&nbsp;
    	警政署165全民防騙網： ​<a href="https://www.165.gov.tw/">https://www.165.gov.tw/</a><br>&nbsp;&nbsp;&nbsp;&nbsp;
    	刑事警察局 — 最新詐騙手法宣導：<a href="https://www.cib.gov.tw/Crime/Skill/">https://www.cib.gov.tw/Crime/Skill</a></font></font><font size="+1"></font></h2>

    </body>
</html>
