<!DOCTYPE html>
<html>
    <head>
        <title>簡易特徵測試</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
    	<a href="http://127.0.0.1:8000/display/">詐騙資料庫</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8000/simple_test/">簡易詐騙風險檢測</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8000/data_collection/">詐騙特徵蒐集</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8000/share/">特徵資料分享</a><br>
        <h1>&nbsp;<b>簡易特徵測試</b><font size="-1"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;這裡可以做一個簡單的詐騙風險測試，結果將回傳到您的E-mail。</font><font size="+1"></font></h1><br>
        <h2 align="center"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdQCr6BgZ-9QIvzi27CKYt6czMkNBNKVEj3e-dpLuhCGiaORA/viewform?embedded=true" width="600" height="800" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
        </h2>

        <br><br><h2 align="left"><font size="-1">反詐騙相關網站：<br>&nbsp;&nbsp;&nbsp;&nbsp;
    	警政署165全民防騙網： ​<a href="https://www.165.gov.tw/">https://www.165.gov.tw/</a><br>&nbsp;&nbsp;&nbsp;&nbsp;
    	刑事警察局 — 最新詐騙手法宣導：<a href="https://www.cib.gov.tw/Crime/Skill/">https://www.cib.gov.tw/Crime/Skill</a></font></font><font size="+1"></font></h2>

    </body>
</html>
